div {
    border: 6px solid #949599;
    height: 100px;
    margin: 20px;
    padding: 20px;
    width: 400px;
  }


h1 {
    color: green;
}

#intro {
    color: tomato;
}
span {
    color: teal;
}
/*  ================ Helpers ================ */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0 auto;
    max-width: 50em;
  }