div {
    border: 6px solid #949599;
    height: 100px;
    margin: 20px;
    padding: 20px;
    width: 400px;
  }


h1 {
    color: green;
    margin-top: 1em;
    padding-top: 1em;
}

h1, h2, strong {
    color: #333;
}

#intro {
    color: tomato;
}
span {
    color: teal;
}
/*  ================ Helpers ================ */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    margin: 0 auto;
    max-width: 50em;
    color: #555;
  }